
:root{
    --color1:#a46e08;
    --color2:#874C62;
    --color3:#CDF0EA;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    outline: none; 
    border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.encabezados{
    text-align: center;
    font-size: 4rem;
    color:var(--color1);
    padding:0 0 2rem 0;
    margin:1rem 0;
    /* background:#d2f4ee; */
}

.encabezados span{
    color:#333;
}

.boton{
    display: inline-block;
    margin-top: 4rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:1rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.boton:hover{
    background:var(--color1);
    animation: animacion 2.5s ease 0s 1 normal forwards;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3.5rem;
    color:#333;
    font-weight: bolder;
}

header .logo:hover{
    animation: animacionLogo 2s ease 0s 1 normal forwards;
}

header .logo span{
    color:var(--color1);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:var(--color1);
}

@keyframes animacionLogo {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--color1);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 90vh;
    background:url(/images/home-tasty.jpg) no-repeat;
    background-size: cover;
    background-position: left;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #333;
    margin:1.8rem 0 ;
}
/* .home .content h3:hover{
    animation: animacionencabezados 2s ease 0s 1 normal forwards;
} */

.home .content .color_cafe{
    color: var(--color1);
    font-size: 5rem;
}

.home .content span{
    font-size: 3.5rem;
    color:var(--color);
    padding:1rem 0;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.home .content p{
    font-size: 2.2rem;
    color:var(--color2);
    padding:1rem 0;
    line-height: 1.5;
}

.nosotros .encabezados:hover{
    animation: animacionencabezados 2s ease 0s 1 normal forwards;
 
}

@keyframes animacionencabezados{
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.nosotros .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.nosotros .row .image{
    flex:1 1 40rem;
    position: relative;
}

.nosotros .row .image img{
    width:100%;
}

.nosotros .row .content{
    flex:1 1 40rem;
}

.nosotros .row .content h3{
    font-size: 3.5rem;
    color:var(--color2);
    margin-bottom:2rem;
}

.nosotros .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}

.icons-container .icons:hover{
    animation: animacion 1s ease 0s 1 normal forwards;
}

@keyframes animacion {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1);
	}
	100% {
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		transform: scale(1.1);
	}
}

.icons-container .icons{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:var(--color2);
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color:var(--color1);
    font-size: 1.3rem;
}

.productos .encabezados:hover{
    animation: animacionencabezados 2s ease 0s 1 normal forwards;
}
.productos .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.productos .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;
}

.productos .box-container .box .descuento{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:var(--color1);
    background:rgba(255, 51, 153,.05);
    z-index: 1;
    border-radius: .5rem;
}

.productos .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.productos .box-container .box .image img{
    height:25rem;
}

.productos .box-container .box:hover .image img{
    transform: scale(1.1);
}

.productos .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.productos .box-container .box:hover .image .icons{
    bottom:0;
}

.productos .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:var(--color1);
    color:#fff;
}

.productos .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}

.productos .box-container .box .image .icons a:hover{
    background:var(--color2);
}

.productos .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.productos .box-container .box .content h3{
    font-size: 2.5rem;
    color:var(--color2);
}

.productos .box-container .box .content .precio{
    font-size: 2.2rem;
    color:var(--color1);
    font-weight: bolder;
    padding-top: 1rem;
}

.productos .box-container .box .content .precio span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.contacto .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contacto .encabezados:hover{
    animation: animacionencabezados 2s ease 0s 1 normal forwards;
}
.contacto .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contacto label{
    font-size: 1.5rem;
    color: var(--color1);
    margin-left: .2rem;
}
.contacto .row .image{
    flex:1 1 40rem;
}

.contacto .row .image img{
    width: 100%;
}

.contacto .row form .box{
    padding:1rem;
    font-size: 1.5rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--color1);
}

.contact .row form textarea{
    height: 12rem;
    resize: none;
}

.boton3{
    margin-top: 2rem;
}

.footer .box-container{
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
   gap: 3rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:var(--color1);
    padding-right: .5rem;
    transition: .2s linear;
 }
 
 .footer .box-container .box a:hover i{
    padding-right: 2rem;
 }

.footer .box-container .box  img{
    margin-top: 1rem;
}

/***media queries***/
@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){
    header .fa-bars{
        display: block;
        transition: .2s linear;
    }

    header .navbar{
        position:absolute;
        top:100%; 
        left:0; 
        right:0;
        background:var(--color3);
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        font-weight: 400;
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home{
        background-position: calc(20%);
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }

    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
    #img9{
        display: none;
    }
    .footer .box-container .box a{
        font-size: 1.7rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .encabezados{
        font-size: 3rem;
    }
    header .logo{
        font-size: 3rem;
    }
    .nosotros .row .content h3{
        font-size: 3.2rem;
    }
}